@font-face {
  font-family: 'RobotoMono';
  src: url("./fonts/RobotoMono/RobotoMono-Regular.eot?iefix") format("eot"), url("./fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype"), url("./fonts/RobotoMono/RobotoMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'OpenGost type A TT', monospace;
  font-size: 20px;
}

body {
  background-color: #55C5FF;
}

.container {
  width: 1021px;
  margin: 0 auto;
}

.keyboard {
  margin-top: 50px;
}

.keyboard__field {
  width: 100%;
}

.keyboard__textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  font-family: 'RobotoMono', monospace;
  font-size: 1.2rem;
  font-weight: 400;
  color: #5B6497;
}

.keyboard__textarea:focus {
  outline-width: 0;
}

.keyboard__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 20px;
  background-color: #4CBEFA;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2px 0 #ffffff;
          box-shadow: 0 0 2px 0 #ffffff;
}

.keyboard__buttons-left {
  width: 799px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.keyboard__buttons-right {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.keyboard__buttons-right .keyboard__buttons-row:first-child {
  margin-bottom: auto;
}

.keyboard__buttons-right .keyboard__buttons-row:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboard__buttons-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.keyboard__buttons-row:last-child {
  margin-bottom: 0;
}

.button {
  background-color: white;
  width: 50px;
  height: 50px;
  margin-right: 6px;
  border-radius: 6px;
  border-width: 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: -3px 3px #9AD3FA;
          box-shadow: -3px 3px #9AD3FA;
  border: 3px solid #9AD3FA;
  cursor: pointer;
  -webkit-transition-duration: 0.05s, 0.05s;
          transition-duration: 0.05s, 0.05s;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: linear, linear;
          transition-duration: linear, linear;
}

.button:last-child {
  margin-right: 0;
}

.button:focus {
  outline-width: 0;
}

.button_default {
  font-family: 'RobotoMono', monospace;
  font-weight: 400;
  font-size: 0.8rem;
  color: #5B6497;
}

.button_special {
  font-family: 'RobotoMono', monospace;
  font-weight: 700;
  font-size: 0.5rem;
  color: #5B6497;
  text-transform: uppercase;
}

.button_special_backspace {
  width: 71px;
}

.button_special_tab {
  width: 71px;
}

.button_special_capslock {
  width: 88.5px;
  position: relative;
}

.button_special_capslock::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 5px;
  right: 5px;
}

.button_special_enter {
  width: 88.5px;
}

.button_special_shift {
  width: 116.5px;
}

.button_special_ctrl {
  width: 116.5px;
}

.button_special_space {
  width: 330px;
}

.button_special_arrow {
  font-size: 1rem;
}

.button_green {
  -webkit-box-shadow: -3px 3px #78E2AA;
          box-shadow: -3px 3px #78E2AA;
  border: 3px solid #78E2AA;
}

.button_green.button_active {
  background-color: #78E2AA;
  -webkit-box-shadow: 0 0 #78E2AA;
          box-shadow: 0 0 #78E2AA;
}

.button_blue {
  -webkit-box-shadow: -3px 3px #63E3FF;
          box-shadow: -3px 3px #63E3FF;
  border: 3px solid #63E3FF;
}

.button_blue.button_active {
  background-color: #63E3FF;
  -webkit-box-shadow: 0 0 #63E3FF;
          box-shadow: 0 0 #63E3FF;
}

.button_purple {
  -webkit-box-shadow: -3px 3px #F69EC4;
          box-shadow: -3px 3px #F69EC4;
  border: 3px solid #F69EC4;
}

.button_purple.button_active {
  background-color: #F69EC4;
  -webkit-box-shadow: 0 0 #F69EC4;
          box-shadow: 0 0 #F69EC4;
}

.button_orange {
  -webkit-box-shadow: -3px 3px #FFC07E;
          box-shadow: -3px 3px #FFC07E;
  border: 3px solid #FFC07E;
}

.button_orange.button_active {
  background-color: #FFC07E;
  -webkit-box-shadow: 0 0 #FFC07E;
          box-shadow: 0 0 #FFC07E;
}

.button_yellow {
  -webkit-box-shadow: -3px 3px #FFEF7E;
          box-shadow: -3px 3px #FFEF7E;
  border: 3px solid #FFEF7E;
}

.button_yellow.button_active {
  background-color: #FFEF7E;
  -webkit-box-shadow: 0 0 #FFEF7E;
          box-shadow: 0 0 #FFEF7E;
}

.button_active {
  -webkit-transform: translate(-3px, 3px);
          transform: translate(-3px, 3px);
  background-color: #9AD3FA;
  -webkit-box-shadow: 0 0 #9AD3FA;
          box-shadow: 0 0 #9AD3FA;
}
/*# sourceMappingURL=main.css.map */