$firstColor: #55C5FF;
$secondColor: #4CBEFA;
$thirdColor: #9AD3FA;
$fourthColor: #78E2AA;
$fifthColor: #63E3FF;
$sixthColor: #F69EC4;
$seventhColor: #FFC07E;
$eighthColor: #FFEF7E;

$textColor1: #76A7D1;
$textColor2: #5B6497;
$textColor3: #8B9999;
