.button {

    background-color: white;

    width: 50px;
    height: 50px;
    margin-right: 6px;
    border-radius: 6px;
    border-width: 0px;
    flex-shrink: 0;
    
    box-shadow: -3px 3px $thirdColor;
    border: 3px solid $thirdColor;
    cursor: pointer;

    transition-duration: 0.05s, 0.05s;
    transition-property: transform, box-shadow;
    transition-duration: linear, linear;

    &:last-child {
        margin-right: 0;
    }

    &:focus {
        outline-width: 0;
    }   

    &_default {
        font-family: 'RobotoMono', monospace;
        font-weight: 400;
        font-size: 1rem;
        color: $textColor2;
    }

    &_special {

        font-family: 'RobotoMono', monospace;
        font-weight: 700;
        font-size: 0.5rem;
        color: $textColor2;
        text-transform: uppercase;

        &_backspace {
            width: 71px;
        }
        &_tab {
            width: 71px;
        }

        &_capslock {
            width: 88.5px;
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: red;
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }

        &_enter {
            width: 88.5px;
        }

        &_shift {
            width: 116.5px;
        }

        &_ctrl {
            width: 116.5px;
        }

        &_space {
            width: 330px;
        }

        &_arrow {
            font-size: 1rem;
        }
    }

    &_green {
        box-shadow: -3px 3px $fourthColor;
        border: 3px solid $fourthColor;
    }
    &_blue {
        box-shadow: -3px 3px $fifthColor;
        border: 3px solid $fifthColor;
    }
    &_purple {
        box-shadow: -3px 3px $sixthColor;
        border: 3px solid $sixthColor;
    }
    &_orange {
        box-shadow: -3px 3px $seventhColor;
        border: 3px solid $seventhColor;
    }
    &_yellow {
        box-shadow: -3px 3px $eighthColor;
        border: 3px solid $eighthColor;
    }
    &_light-orange {
        box-shadow: -3px 3px $ninethColor;
        border: 3px solid $ninethColor;
    }

    &_active {
        transform: translate(-3px, 3px);
        box-shadow: 0 0 $thirdColor;
    }
}